<DOCTYPE! html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <meta charset = "utf-8">
    <title>bygb.co</title>
    <link rel="stylesheet" href="static/stylesheet.css">
    <!---fonts go here-->
    <link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Display&display=swap" rel="stylesheet">
    <!--script link goes here-->
    <script>
                  function openOverlay(){
                document.getElementById("overlay").style.display="block";
                  }

                  function closeOverlay(){
                  document.getElementById("overlay").style.display="none";
                  }
    </script>
  </head>
  <body class="orange">
    <nav class="navigation" id="overlay">
      <a href="javascript:(0)" class="navBtn" onclick="closeOverlay()">&#x274C;</a>
      <ul class="navLinks">
        <li><a class="navLinks" href="homeForm.html">home</a></li>
        <li><a class="navLinks" href="about.html">about</a></li>
      </ul>
    </nav>
    <div class="banner">

      <span onclick="openOverlay()">&#9776;</span>
      <!---used w3schools button refernece-->
    </br>
    <h3>read a little about what <span style="color:red">you eat</span>...</h3>
    <h3>...and what you <span style="color:red">don't</span></h3>
    </div>
      <container>
        <header class="heroHeader section slide">

        <!--insert facts about food waste here-->
        <!--“Key Facts on Food Loss and Waste You Should Know!”
         Food and Agriculture Organization of the United Nations,
          www.fao.org/save-food/resources/keyfindings/en/.--->



        <div class="imageHolder hydee">


          <p>For American consumers, food is cheap. The US government have subsidized many farmers
          to grow large quanities of food since the Great War to keep it that way. Along with automation,
        little restriction on water, and much more efficent access to resources, food is easier to grow, ship, and
      sold then ever. However, the use of these resources come at a price. Agriculture is a major culprit worldwide in some of our
       deepest enviormental and constraint issues. These include deforestation, destroyed habitats, high use of natural resources (both renewable and nonrenewable).
       The list goes on and on. Water, ecspecially fresh water, is one such issue. With humans only able to access the 1% of surface freshwater in the world, agriculture and
       poultry takes out a lot. According to VOX, a single hamburger would take the equivalent of 2400 liters of water to produce, while something such as a steak would take up to
       674 gallons. Over all, food production makes up around 80% of the nation's water consumption, and 38% of freshwater consumptions.</p>
        </div>
      </header>
      <section class="section slide" id="tangy">

      </br>
      </br></br>
        <p>On the other end of the spectrum, these produces, that are farmed at high stakes and sold low for cost aren't being consumed. While hunger is still an epidemic in some parts of the country,
        US' latter tiers of the supply chain have created a horrible mess with food. Of the amount of food that is wasted, a large amount is due to inaccurate sell dates in stores and general policies based around false biases.
        Food is often tossed away by retails before they even reach the grocery market. Irregularly shaped or not up to the strict visual standard, and perfectly fine food finds its way into the landfill. The food, which doesnt find its way to be sold in
      then usually simply tossed away, decaying in landfills, and poisoning the air through the landfill.</p>
      </br>
      </section>
    </container>
      <footer>
        Portions of this page &copy; 2019 Sangwon Kim and Sabrina Wang,
        other attributions cited in document or page source.
      </footer>
  </body>
</html>
